@import '~styles/variables.scss';

.user-details {
  &__tabs {
    border-bottom: solid 1px $c-login-window_border;

    font-size: 1.1em;
    line-height: 60px;
  }
  &__window {
    $width: 500px;
    $height: 400px;

    position: absolute;
    z-index: 15; // highly then .login-page__rect
    top: 50%;
    left: 50%;

    overflow: hidden;

    width: $width;
    margin-top: -$height / 2;
    margin-left: -$width / 2;

    border: 1px solid $c-login-window_border;
    border-radius: $main-border-radius;
    background-color: $c-login-window_bg;
    box-shadow: 0 0 30px 2px $c-main-shadow;

    font-size: 20px;
  }
  &__overlay {
    position: fixed;
    z-index: 14;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .7);
  }

  .user-info {
    &__form {
      padding: 40px 75px;

      &:hover {
        .user-info__input-area {
          .user-info__input {
            float: right;

            width: 70%;
          }
          .user-info__description {
            float: left;

            width: 30%;
            margin-top: 10px;

            vertical-align: bottom;

            line-height: 54px;
          }
        }
      }
    }
    &__avatar-area {
      margin-bottom: 20px;

      text-align: center;
      .user-info__avatar {
        position: relative;
      }
    }
    &__input-area {
      overflow: hidden;
    }
    &__description {
      position: absolute;

      margin-top: 10px;

      vertical-align: bottom;

      line-height: 54px;
    }
    &__input {
      float: right;

      margin-top: 10px;

      transition: width .7s ease;
    }
  }
}
